* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.front_page {
  width: 100%;
  /* background-color: #24262b; */
  background-image: url("./images/image\ 1.png"),
    linear-gradient(90deg, rgba(0, 0, 0, 0.902) 0%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  background-blend-mode: darken;
  z-index: 2;
  padding: 110px;
}
.home_cont1 {
  margin-top: 10px;
}
.home_cont1 {
  /* background-color: #ccc; */
  /* padding: 110px;
  background-image: url("./Images/image\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  z-index: 2; */
  /* padding-top: 40px; */
}
/* .home_cont1::before {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 90.2%,
    rgba(0, 0, 0, 0) 100%
  );

  position: absolute;
  z-index: -1; */
/* 
  width: 100%;
  height: 100%; */
/* } */
.home_cont1 > h1 {
  color: #fff;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  max-width: 430px;
}
.home_cont1 > h5 {
  color: #fff;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  max-width: 450px;
}
.home_cont1 > h4 {
  color: #fff;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  max-width: 450px;
}
.home_cont1 > p {
  background: #ee2c65;
  display: inline;
  border-radius: 7px;
  color: #ffffff;
  font-size: 15px;
  padding: 12px;
  font-family: Inter;
  line-height: 58px;
}
.home_cont1 > button {
  background-color: #ee2c65;
  color: #ffffff;
  padding: 15px 40px 15px 40px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
.thumb {
  display: flex;
}

.inline {
  display: flex;
  color: #ffffff;
  margin-top: 20px;
}
#thumb_first {
  margin-right: 18px;
}
.inline > img {
  width: 15px;
  margin-right: 5px;
}
/* ******************************************************* */

.card_media {
  background-color: white;
  width: 12rem;
  height: 10rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.card_media > img {
  /* border-radius: 4px; */
  width: 4rem;
  height: 4rem;
  /* margin-left: auto;
  margin-right: auto; */
  align-items: center;
}
.card_media > p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.second_card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.card_container {
  margin: 10px;
  margin-top: -5rem;
  z-index: 2;
}
.bb {
  background-color: #f6faf8;
}
.Third_card {
  display: flex;
  /* padding-top: 10px; */
  /* padding-bottom: 20px; */
  /* background-color: #ccc; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.aws {
  width: 170px;
  height: 80px;
  margin: 0px 50px 0px 50px;
}

/* ********************************************************* */
.home-butt {
  border-radius: 15px;
  background: pink;
  color: #ff0066;
  width: 120px;
  border: none;
  font-size: 17px;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  opacity: 0.9;
  text-align: center;
}
.fourth_card {
  width: 100%;
}
.left_section {
  padding-top: 150px;
  background-color: white;
  width: 50%;
  padding-left: 200px;
  /* background-color: #ccc; */
}
.left_section > h5 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: #080d44;
  margin-top: 15px;
}
.left_section > h1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: #080d44;
  margin-top: 0px;
}
/* ****************************************************** */
.right_section {
  background-color: white;
  width: 50%;
  background-image: url("./images/Ellipse\ 361.png");
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: 450px 450px;

  background-position: right 120px;
}
.fourth_card {
  display: flex;
  padding-bottom: 70px;
}
.one-img {
  /* display: flex; */
  padding-top: 4rem;
}
.two-img {
  /* display: flex; */
  width: 220px;
  height: 220px;
  margin-top: 120px;
}
#serch {
  width: 220px;
  height: 220px;
  left: 998px;
}
.dummy {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-top: 12px;
  margin-top: 0px;
  max-width: 500px;

  /* font-style: normal; */
}
.demo {
  font-size: 30px;
  mask-type: 0px;
  padding-top: 0px;
  line-height: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 0px;
  max-width: 500px;
}
.far {
  display: flex;
}
.pars {
  max-width: 450px;
  font-size: 18px;
  font-family: Gilroy-Medium;
  margin-top: 20px;
  font-weight: 400;
  color: #080d44;

  font-family: Gilroy-Medium;
  font-style: normal;

  line-height: 22px;
}
.touch {
  background-color: #ee2c65;
  font-size: 15px;
  background-image: url("./images/Ellipse\ 360.png");
  width: 230px;
  /* font-family: Gilroy-Medium; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  color: #f6faf8;
  border-radius: 8px;
  margin-top: 60px;
  padding: 20px 40px 20px 40px;
}
/* ********************************************************* */
.five-card {
  background-color: #ffe6e6;
  text-align: center;
}
.service {
  background: pink;
  color: #ff0066;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  margin-top: 70px;
  display: inline-block;
  padding: 7px 17px 7px 17px;
}
.area {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  padding-top: 30px;

  font-weight: 700;
  text-align: center;
}

.industry {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  text-align: center;
  display: inline-block;
  line-height: 1.8;
}

.computer_cont {
  display: flex;
  width: 100%;
}
.first-tage {
  width: 430px;
  height: 50px;
}
#triger {
  width: 19px;
  margin-right: 10px;
}
#triger2 {
  width: 19px;
  margin-right: 10px;
}
#triger3 {
  width: 19px;
  margin-right: 10px;
}
#triger4 {
  width: 19px;
  margin-right: 10px;
}
.Label {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  padding: 0.7rem;
  background-color: white;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.125s;
  border-radius: 7px;
  &:hover {
    background: oklch(0.8 0 0.1);
    color: #ffff;
  }
}
.left-class {
  width: 40%;
  /* background-color: palevioletred; */
  /* padding: 60px; */
}
.right-class {
  width: 60%;
  margin-top: 80px;
  height: 400px;
  background-image: url("./images/image\ 8.png");
  background-size: 700px;
  background-repeat: no-repeat;
}
/* IMPORTANT STUFF */

output {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.125s;
  overflow: hidden;

  background-color: #ee2c65;
  border-radius: 7px;
}
#dummy {
  font-size: 12px;
  left: 0;
  line-height: 17px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: white;
}

.cont {
  display: flex;
  color: white;
  font-size: 15px;
}
#roo {
  color: white;
  text-decoration: none;
  font-size: 11px;
  display: inline-block;
}
#cont1 {
  width: 22px;
  margin-right: 10px;
  height: 22px;
}
#tablet {
  position: relative;
  margin: 160px 450px 0px 0px;
  width: 250px;
  height: 280px;
}
.stand {
  padding: 4px 10px 4px 15px;
}
div {
  min-height: 0;
}

[type="radio"] {
  display: none;
}

[type="radio"]:checked + output {
  grid-template-rows: 1fr;
}

/* PRETTY(ish) STUFF */

* {
  box-sizing: border-box;
}

fieldset {
  border: 0px;
  display: grid;
  gap: 0.8rem;
  max-width: 25rem;
  margin-inline: auto;

  padding: 1rem;
}

div > div {
  padding: 0.5rem;
}
